<%- include ('partials/_header.ejs') -%>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Información</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Creacuatic API</h4>
            <p>Esta aplicación pertanece a Creacuatic y forma parte del desarrollo de un conjuto más amplio
                con la que se le proveerá de datos y recursos a otras aplicaciones.
            </p>
            <p>De momento se encuentra en fase de desarrollo y pronto formará parte del ecosistema.</p>
        </div>
        <div class="col-md-8 img-info"></div>
    </div>
</div>

<%- include ('partials/_footer.ejs') -%>